Prog_3170_A1_Nate_Mrakava/Connected Services/A1Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28920/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28920/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28920/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:28920/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService_PrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PrintTags_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintTags" />
  </wsdl:message>
  <wsdl:message name="IService_PrintTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SortArray_InputMessage">
    <wsdl:part name="parameters" element="tns:SortArray" />
  </wsdl:message>
  <wsdl:message name="IService_SortArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PrimeNumber" message="tns:IService_PrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PrimeNumberResponse" message="tns:IService_PrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SumOfDigits" message="tns:IService_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SumOfDigitsResponse" message="tns:IService_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReverseString" message="tns:IService_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReverseStringResponse" message="tns:IService_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PrintTags" message="tns:IService_PrintTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PrintTagsResponse" message="tns:IService_PrintTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SortArray" message="tns:IService_SortArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SortArrayResponse" message="tns:IService_SortArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService/PrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintTags">
      <soap:operation soapAction="http://tempuri.org/IService/PrintTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortArray">
      <soap:operation soapAction="http://tempuri.org/IService/SortArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:28920/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>